@charset "utf-8";
/* CSS Document */

	 *{ margin:0px; padding:0px; }
	body{ background:url(../home/images/background8.png); background-repeat:x; }
	.picture{ font:left; }
	li{ width:120px; font-size:隶书 24px; font-weight:bold; float:right; list-style:none; }
	a { text-decoration:none; color:#EAE9E8; }
	a:hover{ color:#FFF;}


	nav{  
        width: 100%;  
        height: 60px;     
        background: rgba(0,0,0,.3);  
        position: absolute;  
        z-index: 10;  
    }  
    nav ul{  
        list-style: none;  
        margin: 0;  
        padding: 0;  
    }  
    nav ul li{  
        text-align: center;  
        float: left;  
        line-height: 60px;  
    }  
    nav ul li a{  
        width: 100px;  
        color: #fff;  
        font-size: 20px;  
        font-weight: 600;  
        display: block;  
    }  
    nav ul li a:hover,nav ul li a:visited{  
        text-decoration: none;  
        background: rgba(0,0,0,.5);  
        color: #fff;  
    }  
    .words{font-size: 40px;  
            letter-spacing: 10px;  
            position: absolute;  
            top:50%;  
            left: 30%;}  
    .imgw{position: relative;}  