  @charset "utf-8";
/* CSS Document */


	*{
    		margin:0px auto; padding:0px;
  	  }

	body {
		font-size: 16px;
		color: #999;
      background:url(../home/images/background7.png); 
      background-repeat:x; }

   h3{
	 margin-left: 280px; 
	 color: black;  }

	hr {
	color: #999;
	 margin:0px 450px  0px 280px;}

	.div_one{
		margin-left: 300px;}

	dd{margin-left: 300px;
		font-size: 16px;
		color:purple;}

	dt{
		margin-left: 780px;
		font-size: 16px;
		color:purple;
	}
	
	td{
		border:0px;
	}

	a {
		font-size: 16px;
	 	text-decoration:none;
	 	 color:#999; }

       .a_one{
       	margin:0px 25px 0px 0px}

	a:hover{  
		text-decoration: underline;
		color:black; }


	a:hover.purple{ 
		text-decoration: none; 
		color:purple;}


	 .purple{
		color:purple; 
		font-size: 16px;}


