<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>查看故事</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/templatemo_style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <script th:src="@{js/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <script type="text/javascript">
        function comment(diaryID) {
            var string1 = diaryID;
            document.getElementById('form1').action = "/comment?diaryID="+string1;
            document.getElementById('form1').submit();
        }
    </script>
</head>
<body >
<!-- header -->

<div class="header_top">
    <div class="container">
        <div class="header_top_left">
            <ul>
                <li>&copy; 全景NBA</li>
            </ul>
        </div>
        <div class="header_top_right" th:if="${session.user}!=null">
            <span class="text-primary">欢迎您,</span>
            <span th:text="${session.user.getUsername()}" class="text-primary"></span>
            <form th:action="@{/logout}" method="post">
                <input type="submit"  name="logout" value="退出" class="btn btn-danger" >
            </form>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<div class="logo_social_icons">
    <div class="container">
        <div class="logo">
            <h1><a href="#"><img th:src="@{images/logo.jpg}" alt=" " class="img-responsive" /></a></h1>
        </div>
        <div class="social_icons">
            <div class="component">
                <a href="#" class="icon icon-cube facebook"></a>
                <a href="#" class="icon icon-cube rss"></a>
                <a href="#" class="icon icon-cube instagram"></a>
                <a href="#" class="icon icon-cube t"></a>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <nav class="stroke">
                    <ul class="nav navbar-nav">
                        <li><a href="/home" target="_top" class="hvr-bounce-to-bottom">首页</a></li>
                        <li><a href="/home2" target="_top" class="hvr-bounce-to-bottom">篮球入门</a></li>
                        <li><a href="/share" target="_top" class="hvr-bounce-to-bottom">分享篮球</a></li>
                        <li><a href="/match" target="_top" class="hvr-bounce-to-bottom">NBA赛程</a></li>
                        <li><a href="/thoughts" target="_top" class="hvr-bounce-to-bottom">篮球名人堂</a></li>
                        <li><a href="/home4" target="_top" class="hvr-bounce-to-bottom">管理中心</a></li>
                        <li><a href="/shop" target="_top" class="hvr-bounce-to-bottom">购物车</a></li>
                        <li><a href="/setting" target="_top" class="hvr-bounce-to-bottom">个人设置</a></li>

                    </ul>


                    <!-- search-scripts -->
                    <script th:src="@{js/classie.js}" type="text/javascript"></script>
                    <script th:src="@{js/uisearch.js}" type="text/javascript"></script>

                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</div>

<!-- //header -->
<div class="templatemo-bg-image-2">
<div class="container">
<form class="form-horizontal templatemo-contact-form-1" name="form1" id="form1" action="/comment" method="post">
    <div class="form-group">
        <h3 th:text="${session.diary2.title}" align="center" style="font-family:黑体;font-weight:bold;"></h3>
        <h4 th:text="${session.diary2.content}" align="center" style="font-family:黑体;"></h4>
        <h5 th:text="${session.diary2.username}" align="right" style="font-family:黑体;"></h5>
        <div th:if="${not #lists.isEmpty(session.commentList)}">
            <table >
                <tr >
                    <td width="115" height="37">评论内容</td>
                    <td width="132">发表时间</td>
                    <td width="180">发表用户</td>
                </tr>
                <tr  th:each="comment:${session.commentList}">
                    <td th:text="${comment.content}"></td>
                    <td th:text="${comment.commentTime}"></td>
                    <td th:text="${comment.commentUsername}"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">评论 </label>
            <div class="templatemo-input-icon-container">
                <i class="fa fa-pencil-square-o"></i>
                <textarea rows="8" cols="50" class="form-control" name="diarycontent" placeholder="注意内容文明规范"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="button" name="share" id="share" th:onclick="'javascript:comment(\''+${session.diary2.id}+'\')'" value="评论" class="btn btn-info pull-right">
        </div>
    </div>
</form>
</div>
</div>
<div class="footer">
    <div class="container">
        <h3>注册成为我们的朋友</h3>
        <p class="para">全景NBA致力于为NBA球迷提供最全面的、最快捷的、最方便的NBA球场内外咨询。让我们一起成为真正的懂球帝。</p>
        <div class="footer-contact">

            <input type="text" placeholder="搜搜你想要知道的新闻" required=" ">
            <input type="submit" value="搜索">

        </div>
        <div class="footer-grids">
            <div class="col-md-4 footer-grid">
                <p>中国，江西省南昌市，南昌大学，软件学院
                    <a href="mailto:info@example.com">731767435@qq.com</a>
                <p>+86 13155819193</p>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help.html" target="_top" name="篮球历史" class="text"> 关于篮球</a></li>

                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help1.html" target="_top" name="篮球介绍" class="text"> 篮球介绍</a></li>

                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help2.html" target="_top" name="篮球规则" class="text"> 篮球规则</a></li>

                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help3.html" target="_top" name="篮球基础" class="text"> 篮球基础</a></li>

                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="footer-copy">
            <p>Copyright &copy; 2018.wanderlustLee</p>
        </div>
    </div>
</div>
</body>
</html>