<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"  
  layout:decorator="layout">
<head>
	<title>注册</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet">
	<link th:href="@{css/templatemo_style.css}" rel="stylesheet">
	<script th:src="@{js/jquery-1.11.1.min.js}" type="text/javascript"></script>
	<script language="javascript">
	
	function sendemail(){
		document.getElementById("form1").action="/sendEmail";
        document.getElementById('form1').submit();
	}
</script>
    <script language="javascript">

        function jsonview(){
            var timstamp = $("#email").val();



            $.ajax({
                type: "POST",          //http的请求方式
                url:"sendEmail",   //服务器段的URL地址
                data:"email="+timstamp,  //发送到服务器端的数据
                dataType: "json",        //告诉Jquery返回的数据格式
                success: wirteHtml      //定义交互完成 且服务器正确返回数据时调用的回调函数

            });
            $.ajax().onreadystatechange =  wirteHtml();
        }
        function wirteHtml() {
            //if ($.ajax().readyState == 4 && $.ajax().status == 200) {
                //在这里进行相关处理,通过xhr.responseText获取后台反馈的文本
                document.getElementById('emailcodebutton').value = "验证码已发送";
            //}
        }

    </script>

</head>
<body >
<!-- header -->
<div class="header_top">
	<div class="container">
		<div class="header_top_left">
			<ul>
				<li>&copy; 全景NBA</li>
			</ul>
		</div>
		<div class="header_top_right">
			<p>欢迎您, </p>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="logo_social_icons">
	<div class="container">
		<div class="logo">
			<h1><a href="index.html"><img th:src="@{images/logo.jpg}" alt=" " class="img-responsive" /></a></h1>
		</div>
		<div class="social_icons">
			<div class="component">
				<a href="#" class="icon icon-cube facebook"></a>
				<a href="#" class="icon icon-cube rss"></a>
				<a href="#" class="icon icon-cube instagram"></a>
				<a href="#" class="icon icon-cube t"></a>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="header">
	<div class="container">
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				<nav class="stroke">
					<ul class="nav navbar-nav">
						<li><a href="/signin" target="_top" class="hvr-bounce-to-bottom">注 册</a></li>
						<li><a href="/login" target="_top" class="hvr-bounce-to-bottom">登 录</a></li>


					</ul>
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
					<!-- search-scripts -->
					<script th:src="@{js/classie.js}" type="text/javascript"></script>
					<script th:src="@{js/uisearch.js}" type="text/javascript"></script>
					<script type="text/javascript" src="../../js/uisearch.js" ></script>
					<script type="text/javascript" src="../../js/classie.js" ></script>
					<script>
                        new UISearch( document.getElementById( 'sb-search' ) );
					</script>
					<!-- //search-scripts -->
				</nav>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
<script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
<script type="text/javascript" src="../../js/bootstrap.js" ></script>
<!-- //for bootstrap working -->

<div class="center-block" style="width:200px" th:if="${signStatus}!=null">
    <p th:text="${signStatus}" class="bg-danger"></p>
</div>
<div class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">注册</h1>
	<div class="container">
		<div class="col-md-12">			
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="" method="post" name="form1" id="form1">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-12">		          	
			            <label class="control-label">用户名</label>
			            <input type="text" name="nickName" id="nickName" class="form-control" onfocus="nickNameFocus()" onblur="nickNameBlur()" placeholder="请输入用户名">
			          	<div id="nickName_prompt" style="width:260px;color:red;"> </div>
			          	<div id="toolTip1" style="width:260px;color:red;"></div>
			          </div>  
			          </div> 
			          <div class="form-group">
			          <div class="col-md-12">		          	
			            <label class="control-label">邮箱</label>
			            <input type="email" class="form-control" name="email" id="email" onFocus="emailFocus()" onblur="emailBlur()" placeholder="请输入邮箱">
						  <input type="button" id="emailcodebutton" name="emailcodebutton" value="发送邮箱验证码" onclick="jsonview()">
						  <div id="email_prompt" style="width:260px;color:red;"></div>
			          </div>             
			        </div>
					<div class="form-group">
						<div class="col-md-12">
							<label class="control-label">邮箱验证码</label>
							<input type="text" class="form-control" name="emailcode" id="emailcode"  placeholder="请输入发送的邮箱验证码">
							<div id="email_code" style="width:260px;color:red;"></div>
						</div>
					</div>
			        <div class="form-group">
			          <div class="col-md-12">		          	
			            <label class="control-label">密码</label>
			            <input type="email" class="form-control" name="password" id="password" onfocus="pwdFocus()" onblur="pwdBlur()" placeholder="不能少于6个字符">		            		            		            
			          	<div id="password_prompt" style="width:260px;color:red;"></div>
			          </div>              
			        </div>			
			        <div class="form-group">
			          <div class="col-md-12">		          	
			            <label class="control-label">确认密码</label>
			            <input type="text" class="form-control" name="repassword" id="repassword" onfocus="repwdFocus()" onblur="repwdBlur()" placeholder="请重复上面密码">		            		            		            
			          	<div id="repassword_prompt" style="width:260px;color:red;"></div>
			          </div>            
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <label class="control-label">密保问题</label>
			            <input type="email" class="form-control" name="question" id="question" onfocus="questionFocus()" onblur="questionBlur()" placeholder="">
			          	<div id="question_prompt" style="width:260px;color:red;"></div>
			          </div>
			          </div>
			          <div class="form-group">
			          <div class="col-md-12">
			            <label class="control-label">密保答案</label>
			            <input type="email" class="form-control" name="answer" id="answer" onfocus="answerFocus()" onblur="answerBlur()" placeholder="">
			          	<div id="answer_prompt" style="width:260px;color:red;"></div>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <label><input type="checkbox">我同意 <a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">服务条款</a> 和 <a href="#">相关法律法规</a></label>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <input type="button" value="注册账号" class="btn btn-info" onclick="checkForm()">
			            <a href="/login" class="pull-right">已有账号，前往登录</a>
			          </div>
			        </div>	
				</div>				    	
		      </form>		      
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="templatemo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
	      </div>
	      <div class="modal-body">
	      	<p>This form is provided by <a rel="nofollow" href="http://www.cssmoban.com/page/1">Free HTML5 Templates</a> that can be used for your websites. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
	        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<br /><br /><br /><br /><br /><br /><br />
<script type="text/javascript" src="../../js/signing.js" ></script>
<script type="text/javascript" src="../../js/AJAX.js" ></script>
<script type="text/javascript" src="../../js/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>

<script th:src="@{js/signing.js}" type="text/javascript"></script>
<script th:src="@{js/AJAX.js}" type="text/javascript"></script>
<script th:src="@{js/jquery-1.11.1.min.js}" type="text/javascript"></script>
<script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
</div>
<!-- //about-bottom -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<h3>注册成为我们的朋友</h3>
		<p class="para">全景NBA致力于为NBA球迷提供最全面的、最快捷的、最方便的NBA球场内外咨询。让我们一起成为真正的懂球帝。</p>
		<div class="footer-contact">
			<form>
				<input type="text" placeholder="搜搜你想要知道的新闻" required=" ">
				<input type="submit" value="搜索">
			</form>
		</div>
		<div class="footer-grids">
			<div class="col-md-4 footer-grid">
				<p>中国，江西省南昌市，南昌大学，软件学院
					<a href="mailto:info@example.com">731767435@qq.com</a>
				<p>+86 13155819193</p>
			</div>
			<div class="col-md-4 footer-grid">
				<ul>
					<li><a href="../help/help.html" target="_top" name="篮球历史" class="text"> 关于篮球</a></li>

				</ul>
			</div>
			<div class="col-md-4 footer-grid">
				<ul>
					<li><a href="../help/help1.html" target="_top" name="篮球介绍" class="text"> 篮球介绍</a></li>

				</ul>
			</div>
			<div class="col-md-4 footer-grid">
				<ul>
					<li><a href="../help/help2.html" target="_top" name="篮球规则" class="text"> 篮球规则</a></li>

				</ul>
			</div>
			<div class="col-md-4 footer-grid">
				<ul>
					<li><a href="../help/help3.html" target="_top" name="篮球基础" class="text"> 篮球基础</a></li>

				</ul>
			</div>

			<div class="clearfix"> </div>
		</div>
		<div class="footer-copy">
			<p>Copyright &copy; 2018.wanderlustLee</p>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script type="text/javascript" src="../../js/bootstrap.js" ></script>
<script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
<!-- //for bootstrap working -->

</body>
</html>