<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>分享篮球</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //for-mobile-apps -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet">
    <link th:href="@{css/templatemo_style.css}" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
    <script th:src="@{js/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <!-- //js -->
    <script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
    <script type="javascript">
        function searchteam() {
            alert('!!');
            document.getElementById('form2').action="/teammatch";
            document.getElementById('form2').submit();
        }
    </script>
</head>

<body >
<div class="header_top">
    <div class="container">
        <div class="header_top_left">
            <ul>
                <li>&copy; 全景NBA</li>
            </ul>
        </div>
        <div class="header_top_right" th:if="${session.user}!=null">
            <span class="text-primary">欢迎您,</span>
            <span th:text="${session.user.getUsername()}" class="text-primary"></span>
            <form th:action="@{/logout}" method="post">
                <input type="submit"  name="logout" value="退出" class="btn btn-danger" >
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="logo_social_icons">
    <div class="container">
        <div class="logo">
            <h1><a href="#"><img th:src="@{images/logo.jpg}" alt=" " class="img-responsive" /></a></h1>
        </div>
        <div class="social_icons">
            <div class="component">
                <a href="#" class="icon icon-cube facebook"></a>
                <a href="#" class="icon icon-cube rss"></a>
                <a href="#" class="icon icon-cube instagram"></a>
                <a href="#" class="icon icon-cube t"></a>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <nav class="stroke">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home" target="_top" class="hvr-bounce-to-bottom">首页</a></li>
                        <li><a href="/home2" target="_top" class="hvr-bounce-to-bottom">篮球入门</a></li>
                        <li><a href="/share" target="_top" class="hvr-bounce-to-bottom">分享篮球</a></li>
                        <li><a href="/match" target="_top" class="hvr-bounce-to-bottom">NBA赛程</a></li>
                        <li><a href="/thoughts" target="_top" class="hvr-bounce-to-bottom">篮球名人堂</a></li>
                        <li><a href="/home4" target="_top" class="hvr-bounce-to-bottom">管理中心</a></li>
                        <li><a href="/shop" target="_top" class="hvr-bounce-to-bottom">购物车</a></li>
                        <li><a href="/setting" target="_top" class="hvr-bounce-to-bottom">个人设置</a></li>

                    </ul>



                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</div>



<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable" id="tabs-919509">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-3842" data-toggle="tab">NBA近期赛程赛果</a>
                    </li>
                    <li>
                        <a href="#panel-110129" data-toggle="tab">球队近期赛程赛果</a>
                    </li>
                    <li>
                        <a href="#panel-1101" data-toggle="tab">球队对战赛程赛果</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div th:class="${pane1}" id="panel-3842">
                        <table class="table" th:if="${not #lists.isEmpty(matchlist)}">
                            <thead>
                            <tr class="success">
                                <th>
                                    对阵
                                </th>
                                <th>
                                    比赛时间
                                </th>
                                <th>
                                    比分
                                </th>
                                <th>
                                    比赛集锦/直播
                                </th>
                                <th>
                                    数据统计
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <span th:each="match:${matchlist}" >
                                <tr th:each="matchtr:${match.tr}" class="warning">
                                    <td th:text="${matchtr.player1} + 'vs' + ${matchtr.player2}"></td>
                                    <td th:text="${matchtr.time}"></td>
                                    <td th:text="${matchtr.score}"></td>
                                    <td><a th:href="${matchtr.link1url}" >集锦/直播</a></td>
                                    <td><a th:href="${matchtr.link2url}" >数据统计</a></td>
                                </tr>
                            </span>

                            </tbody>
                        </table>
                    </div>

                    <div th:class="${pane2}" id="panel-110129">
                        <form class="form-search" action="/teammatch" method="post" id="form2" name="form2">
                            <input name="teamname" class="form-control" type="text" placeholder="请输入要查询的球队名称" />
                            <button type="submit" class="btn btn-info">查询</button>
                        </form>

                        <table class="table" th:if="${not #lists.isEmpty(teammatchList)}">
                            <thead>
                            <tr class="success">
                                <th>
                                    对阵
                                </th>
                                <th>
                                    比赛时间
                                </th>
                                <th>
                                    比分
                                </th>
                                <th>
                                    比赛集锦/直播
                                </th>
                                <th>
                                    数据统计
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="teammatch:${teammatchList}" >

                                    <td th:text="${teammatch.player1} + 'vs' + ${teammatch.player2}"></td>
                                    <td th:text="${teammatch.time}"></td>
                                    <td th:text="${teammatch.score}"></td>
                                    <td><a th:href="${teammatch.link1url}" >集锦/直播</a></td>
                                    <td><a th:href="${teammatch.link2url}" >数据统计</a></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div th:class="${pane3}" id="panel-1101">
                        <form class="form-search" action="/teampk" method="post" id="form3" name="form3">
                            <input name="teamname1" class="form-control" type="text" placeholder="请输入要查询的球队名称" />
                            <input name="teamname2" class="form-control" type="text" placeholder="请输入要查询的球队名称" />
                            <button type="submit" class="btn btn-info">查询</button>
                        </form>

                        <table class="table" th:if="${not #lists.isEmpty(teampkList)}">
                            <thead>
                            <tr class="success">
                                <th>
                                    对阵
                                </th>
                                <th>
                                    比赛时间
                                </th>
                                <th>
                                    比分
                                </th>
                                <th>
                                    比赛集锦/直播
                                </th>
                                <th>
                                    数据统计
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="teampk:${teampkList}" >

                                <td th:text="${teampk.player1} + 'vs' + ${teampk.player2}"></td>
                                <td th:text="${teampk.time}"></td>
                                <td th:text="${teampk.score}"></td>
                                <td><a th:href="${teampk.link1url}" >集锦/直播</a></td>
                                <td><a th:href="${teampk.link2url}" >数据统计</a></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container">
        <h3>注册成为我们的朋友</h3>
        <p class="para">全景NBA致力于为NBA球迷提供最全面的、最快捷的、最方便的NBA球场内外咨询。让我们一起成为真正的懂球帝。</p>
        <div class="footer-contact">

            <input type="text" placeholder="搜搜你想要知道的新闻" required=" ">
            <input type="submit" value="搜索">

        </div>
        <div class="footer-grids">
            <div class="col-md-4 footer-grid">
                <p>中国，江西省南昌市，南昌大学，软件学院
                    <a href="mailto:info@example.com">731767435@qq.com</a>
                <p>+86 13155819193</p>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help.html" target="_top" name="篮球历史" class="text"> 关于篮球</a></li>

                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help1.html" target="_top" name="篮球介绍" class="text"> 篮球介绍</a></li>

                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help2.html" target="_top" name="篮球规则" class="text"> 篮球规则</a></li>

                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <ul>
                    <li><a href="../help/help3.html" target="_top" name="篮球基础" class="text"> 篮球基础</a></li>

                </ul>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="footer-copy">
            <p>Copyright &copy; 2018.wanderlustLee</p>
        </div>
    </div>
</div>
</body>
</html>