<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
	<link th:href="@{css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet">
	<link th:href="@{css/templatemo_style.css}" rel="stylesheet">
	<link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
	<script th:src="@{js/jquery-1.11.1.min.js}" type="text/javascript"></script>
<!-- //js -->
    <script th:src="@{js/bootstrap.js}" type="text/javascript"></script>

    <!-- search-scripts -->
    <script src="../js/classie.js"></script>
    <script src="../js/uisearch.js"></script>
    <script>
        function setting(){
            document.getElementById('form1').action="/usersetting";
            document.getElementById('form1').submit();
        }
    </script>

<link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->

    <div class="header_top">
        <div class="container">
            <div class="header_top_left">
                <ul>
                    <li>&copy; 全景NBA</li>
                </ul>
            </div>
			<div class="header_top_right" th:if="${session.user}!=null">
				<span class="text-primary">欢迎您,</span>
				<span th:text="${session.user.getUsername()}" class="text-primary"></span>
				<form th:action="@{/logout}" method="post">
					<input type="submit"  name="logout" value="退出" class="btn btn-danger" >
				</form>
			</div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="logo_social_icons">
        <div class="container">
            <div class="logo">
                <h1><a href="#"><img th:src="@{images/logo.jpg}" alt=" " class="img-responsive" /></a></h1>
            </div>
            <div class="social_icons">
                <div class="component">
                    <a href="#" class="icon icon-cube facebook"></a>
                    <a href="#" class="icon icon-cube rss"></a>
                    <a href="#" class="icon icon-cube instagram"></a>
                    <a href="#" class="icon icon-cube t"></a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="stroke">
                        <ul class="nav navbar-nav">
                            <li><a href="/home" target="_top" class="hvr-bounce-to-bottom">首页</a></li>
                            <li><a href="/home2" target="_top" class="hvr-bounce-to-bottom">篮球入门</a></li>
                            <li><a href="/share" target="_top" class="hvr-bounce-to-bottom">分享篮球</a></li>
							<li><a href="/match" target="_top" class="hvr-bounce-to-bottom">NBA赛程</a></li>
							<li><a href="/seeNotice" target="_top" class="hvr-bounce-to-bottom">查看公告</a></li>
							<li><a href="/gotoreleaseNotice" target="_top" class="hvr-bounce-to-bottom">发布公告(管理员)</a></li>
							<li><a href="/thoughts" target="_top" class="hvr-bounce-to-bottom">篮球名人堂</a></li>
                            <li><a href="/home4" target="_top" class="hvr-bounce-to-bottom">管理中心</a></li>
                            <li><a href="/shop" target="_top" class="hvr-bounce-to-bottom">购物车</a></li>
                            <li><a href="/setting" target="_top" class="hvr-bounce-to-bottom">个人设置</a></li>

                        </ul>


                        <!-- search-scripts -->
                        <script th:src="@{js/classie.js}" type="text/javascript"></script>
                        <script th:src="@{js/uisearch.js}" type="text/javascript"></script>

                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>

<!-- //header -->
<!-- banner -->
<form action="" name="form1" id="form1" method="post">
<div class="banner">
		<div class="container"> 
			<div class="banner-info">
				<h2>2018</h2>
				<h3>Most exciting Basketball <span>league</span></h3>
				<p>join to the world of basketball.</p>
				<div class="more">
					<a href="#" class="hvr-bounce-to-bottom m1">Read More...</a>
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >免费网站模板</a></div>
<!-- about -->
	<div class="about">
		<div class="container">
			<div class="about-grids">
				<div class="col-md-5 about-grid-left">
					<img src="../home/images/2.png" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-7 about-grid-right">
					<h3>关于篮球</h3>
					<h4>About Basketball About NBA.</h4>
					<p>篮球（basketball），是奥运会核心比赛项目，是以手为中心的对抗性体育运动[1]  。
篮球运动，起源于美国。1891年12月21日，由美国马萨诸塞州斯普林菲尔德基督教青年会训练学校（现译名为美国春田大学，Springfield College）体育教师詹姆士·奈史密斯发明。1896年，篮球运动传入中国
1904年，圣路易斯奥运会上第1次进行了篮球表演赛。1936年，篮球在柏林奥运会中被列为正式比赛项目。1992年，巴塞罗那奥运会开始，职业选手可以参加奥运会篮球比赛[1-2]  。
主要的国际性篮球组织是成立于1932年总部设在瑞士日内瓦的国际篮球联合会（国际业余篮球联合会）。</p>
					<div class="team">
						<h5>杰出篮球运动员</h5>
						<div class="team-grids">
							<div class="col-md-4 team-grid1">
								<div class="team-grid">
									<ul class="demo-3">
										<li>
											<figure>
												<img src="../home/images/1.jpg" alt="" class="img-responsive" />
												<figcaption>
													<p>1963年2月17日生于美国纽约布鲁克林，前美国职业篮球运动员，司职得分后卫，绰号“飞人”（Air Jordan）</p>
												</figcaption>
											</figure>
										</li>
									</ul>
									<div class="team-grid-pos">
										<p>迈克尔·乔丹<span>Michael Jordan</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-4 team-grid1">
								<div class="team-grid">
									<ul class="demo-3">
										<li>
											<figure>
												<img src="../home/images/2.jpg" alt="" class="img-responsive" />
												<figcaption>
													<p>1978年8月23日出生于美国宾夕法尼亚州费城，司职得分后卫/小前锋（锋卫摇摆人），绰号“黑曼巴”/“小飞侠”，整个NBA生涯全部效力于洛杉矶湖人队</p>
												</figcaption>
											</figure>
										</li>
									</ul>
									<div class="team-grid-pos">
										<p>科比·布莱恩特<span>Kobe Bryant</span></p>
									</div>
								</div>
							</div>
							<div class="col-md-4 team-grid1">
								<div class="team-grid">
									<ul class="demo-3">
										<li>
											<figure>
												<img src="../home/images/3.jpg" alt="" class="img-responsive" />
												<figcaption>
													<p>1982年1月17日出生于美国伊利诺伊州芝加哥，司职得分后卫，效力于NBA迈阿密热火队，绰号“闪电侠”（The Flash）</p>
												</figcaption>
											</figure>
										</li>
									</ul>
									<div class="team-grid-pos">
										<p>德怀恩·韦德<span>Dwyane Wade</span></p>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->
<!-- participating-teams -->
	<div class="participating-teams">
		<div class="container">
			<div class="col-md-6 participating-teams-left">
				<h3>NBA著名球馆 <span>篮球圣地</span></h3>
				<h4>篮球界的耶路撒冷</h4>
				<div class="participating-teams-left-grids">
					<div class="participating-teams-left-grid">
						<div class="col-xs-4 participating-teams-left-grid-left">
							<img class="img-responsive" src="../home/images/8.jpg" alt="" />
						</div>
						<div class="col-xs-8 participating-teams-left-grid-right">
							<h5>纽约</h5>
							<a href="single.html">麦迪逊花园球馆</a>
							<p>有126年历史的麦迪逊广场花园，它是纽约的门脸。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="participating-teams-left-grid">
						<div class="col-xs-4 participating-teams-left-grid-left">
							<img class="img-responsive" src="../home/images/9.jpg" alt="" />
						</div>
						<div class="col-xs-8 participating-teams-left-grid-right sub">
							<h5>洛杉矶</h5>
							<a href="single.html">斯台普斯中心</a>
							<p>斯台普斯中心在每年举办超过250场的活动，拥有近400万人次的游客。</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="participating-teams-left-grid">
						<div class="col-xs-4 participating-teams-left-grid-left">
							<img class="img-responsive" src="../home/images/10.jpg" alt="" />
						</div>
						<div class="col-xs-8 participating-teams-left-grid-right">
							<h5>芝加哥</h5>
							<a href="single.html">联合中心</a>
							<p>位于美国芝加哥的室内运动中心，名字由赞助商联合航空公司而来。它同时是国家冰上曲棍球联盟芝加哥黑鹰队和NBA芝加哥公牛队的主场</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="col-md-6 participating-teams-right">
				<h3>NBA大事件</h3>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title">
						<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>乔丹总决赛绝杀爵士
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
						1998年，总决赛第6场比赛，公牛做客爵士主场，乔丹从马龙手中断球成功，并在终场前5.8秒晃飞拉塞尔跳投命中绝杀，最终公牛系列赛以4-2淘汰爵士，实现第二次三连冠，八年内6次戴上总冠军戒指。
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					  <h4 class="panel-title">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>张伯伦单场100分
						</a>
					  </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					   <div class="panel-body">
						在1962年3月3日，张伯伦所在的费城勇士队遇上了尼克斯队，那场比赛他打满48分钟，最终63投36中（命中率为57.1%）、罚球32罚28中（命中率87.5%），爆砍100分和25个篮板，另外还有2次助攻和2次犯规。
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					  <h4 class="panel-title">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>麦迪35秒13分
						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					   <div class="panel-body">
						2004年12月9日，在休斯顿丰田中心球场，特雷西·麦克格雷迪在比赛最后时刻，35秒狂砍13分，分别是35秒时一个三分，24.3秒时一个三加一（三分加一个罚球)，11.2秒时一个三分，及最后1.7秒时一个三分绝杀，火箭神奇般的以81-80战胜马刺。
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
					  <h4 class="panel-title">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>科比单场81分
						</a>
					  </h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					   <div class="panel-body">
						2006年1月23日常规赛湖人对阵猛龙，科比·布莱恩特拿下81分，其中三分球13投7中，罚球20罚18中，此外还抢下了6个篮板，创现役球员单场得分纪录，联盟历史单场第二高分。
					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
					  <h4 class="panel-title">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>韦德This Is My House
						</a>
					  </h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
					   <div class="panel-body">
						2009年3月9日，热火对阵公牛的比赛中，韦德在第二次加时终场哨声吹响之前，跑投三分绝杀公牛，冲上技术统计看台，指着迈阿密主场说“This Is My House”
					  </div>
					</div>
				  </div>
				   <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
					  <h4 class="panel-title">
						<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>雷阿伦总决赛关键三分
						</a>
					  </h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
					   <div class="panel-body">
						2013年总决赛第六场，雷-阿伦在常规时间结束前5.9秒投中一记三分，挽救了热火，最终在加时以103-100击败马刺，将总比分扳成3-3
					  </div>
					</div>
				  </div>
				  
				  
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //participating-teams -->
<!-- about-bottom -->
	
<!-- //about-bottom -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<h3>注册成为我们的朋友</h3>
			<p class="para">全景NBA致力于为NBA球迷提供最全面的、最快捷的、最方便的NBA球场内外咨询。让我们一起成为真正的懂球帝。</p>
			<div class="footer-contact">
					<input type="text" placeholder="搜搜你想要知道的新闻" required=" ">
					<input type="submit" value="搜索">
			</div>
			<div class="footer-grids">
				<div class="col-md-4 footer-grid">
					<p>中国，江西省南昌市，南昌大学，软件学院
					<a href="mailto:info@example.com">731767435@qq.com</a>
					<p>+86 13155819193</p>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help.html" target="_top" name="篮球历史" class="text"> 关于篮球</a></li>
						
					</ul>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help1.html" target="_top" name="篮球介绍" class="text"> 篮球介绍</a></li>
						
					</ul>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help2.html" target="_top" name="篮球规则" class="text"> 篮球规则</a></li>
						
					</ul>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help3.html" target="_top" name="篮球基础" class="text"> 篮球基础</a></li>
						
					</ul>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<div class="footer-copy">
				<p>Copyright &copy; 2018.wanderlustLee</p>
			</div>
		</div>
	</div>
</form>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="../js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>