<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ice Hockey Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../../css/style.css" rel="stylesheet" type="text/css">
	<link th:href="@{css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
<!-- js -->
	<script type="text/javascript" src="../../js/jquery-1.11.1.min.js" ></script>
	<script th:src="@{js/jquery-1.11.1.min.js}" type="text/javascript"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
</head>
	
<body>

	
<!-- //about-bottom -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<h3>注册成为我们的朋友</h3>
			<p class="para">全景NBA致力于为NBA球迷提供最全面的、最快捷的、最方便的NBA球场内外咨询。让我们一起成为真正的懂球帝。</p>
			<div class="footer-contact">
				<form>
					<input type="text" placeholder="搜搜你想要知道的新闻" required=" ">
					<input type="submit" value="搜索">
				</form>
			</div>
			<div class="footer-grids">
				<div class="col-md-4 footer-grid">
					<p>中国，江西省南昌市，南昌大学，软件学院
					<a href="mailto:info@example.com">731767435@qq.com</a>
					<p>+86 13155819193</p>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help.html" target="_top" name="篮球历史" class="text"> 关于篮球</a></li>
						
					</ul>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help1.html" target="_top" name="篮球介绍" class="text"> 篮球介绍</a></li>
						
					</ul>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help2.html" target="_top" name="篮球规则" class="text"> 篮球规则</a></li>
						
					</ul>
				</div>
				<div class="col-md-4 footer-grid">
					<ul>
						<li><a href="../help/help3.html" target="_top" name="篮球基础" class="text"> 篮球基础</a></li>
						
					</ul>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<div class="footer-copy">
				<p>Copyright &copy; 2018.wanderlustLee</p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script type="text/javascript" src="../../js/bootstrap.js" ></script>
<script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
<!-- //for bootstrap working -->
</body>
</html>