<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout">
<head>
<title>Home</title>
<!-- for-mobile-apps -->
	<meta content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript">
addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar()
{
	window.scrollTo(0,1); 
} 
</script>
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="../../css/style.css" rel="stylesheet" type="text/css">

	<link th:href="@{css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cherry+Cream+Soda' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header_top">
		<div class="container">
			<div class="header_top_left">
				<ul>
					<li>&copy; 全景NBA</li>
				</ul>
			</div>
			<div class="header_top_right">
				<p>欢迎您, </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="logo_social_icons">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html"><img src="images/logo.jpg" alt=" " class="img-responsive" /></a></h1>
			</div>
			<div class="social_icons">
				<div class="component">
					<a href="#" class="icon icon-cube facebook"></a>
					<a href="#" class="icon icon-cube rss"></a>
					<a href="#" class="icon icon-cube instagram"></a>
					<a href="#" class="icon icon-cube t"></a>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="stroke">
						<ul class="nav navbar-nav">
							<li class="active"><a href="../login-signin/signin.html" target="_top" class="hvr-bounce-to-bottom">注 册</a></li>
							<li><a href="../login-signin/login.html" target="_top" class="hvr-bounce-to-bottom">登 录</a></li>
							
							
						</ul>
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
									<input class="sb-search-submit" type="submit" value="">
									<span class="sb-icon-search"> </span>
								</form>
							</div>
						</div>
					<!-- search-scripts -->
						<script th:src="@{js/classie.js}" type="text/javascript"></script>
						<script th:src="@{js/uisearch.js}" type="text/javascript"></script>
						<script type="text/javascript" src="../../js/uisearch.js" ></script>
						<script type="text/javascript" src="../../js/classie.js" ></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
<script th:src="@{js/bootstrap.js}" type="text/javascript"></script>
<script type="text/javascript" src="../../js/bootstrap.js" ></script>
<!-- //for bootstrap working -->
</body>
</html>